{{ $footer := site.Params.footer }}
<footer class="footer">
  <div class="content footer__inner">
    <div class="footer__grid">
      <div class="footer__about">
        {{ with $footer.about }}
          <img src="{{ .logo | relURL }}" alt="{{ .alt }}" width="221" height="54">
          <p>{{ .text }}</p>
        {{ end }}
      </div>
      {{ range $footer.columns }}
        <div class="footer__col">
          <h4>{{ .heading }}</h4>
          <ul>
            {{ range .links }}
              {{ $href := partial "link.html" . }}
              <li>{{ if $href }}<a href="{{ $href }}">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}</li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
    <div class="footer__bottom">
      <span>{{ $footer.studio.name }}</span>
      <a href="{{ $footer.studio.url }}">{{ replaceRE "^https?://" "" $footer.studio.url }}</a>
    </div>
  </div>
</footer>
